.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Header {
  background-color: #e22c13;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.Navbar {
  border: 5px rgb(255, 0, 221) solid;
}

.ArticleList {
  margin: 0;
  border: 2px orange solid;
}

.ArticleCard {
  border: 2px rgb(223, 186, 223) solid;
}

.TopicSelector {
  border: 2px green solid;
}
.article-content {
  background-color: rgb(212, 205, 212);
}

#comment-card {
  background-color: rgb(240, 233, 223);
  padding: 0.2rem;
  margin: 1rem;
}

ul {
  padding-inline-start: 0;
}
/* image formatting - object-fit */
